@media (max-width: 520px) {
  .my-logo {
    min-width: 100%;
    min-height: 100%;
  }

  .num {
    min-width: 100%;
    min-height: 100%;
  }

  .test{
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 20px;
    box-shadow: inset 0 0 10px #d0d0d0;
  }

  .bs{
    margin-left: -26px;
    padding-right: 15px;  
  }

  .otd{
    margin-left: -4px;
    padding-right: 15px;
  }

  .bf{
    margin-left: 4px;
    padding-right: 15px;
  }

  .pq{
    margin-left: 6px;
    padding-right: 15px;
  }

  .bd{
    margin-left: -18px;
    padding-right: 15px;
  }

  }

  
  body{
  font-size: 17px;
  line-height: 24px;
}

.logo{
  height: 70px;
}
.bg-light {
  background-color: #ffffff!important;
  padding: 0;
}

.iconSize1{
  font-size: 45px;
}

.iconSize{
  font-size: 45px;
  border: 3px dashed orange;
}

.textCenter{
  text-align: center;
}

.textJustfy{
  text-align: justify;
}

.textDesc{
text-align: center;
margin-left: 20%;
margin-right: 20%;
}

.bgCol{
  background-color: #6fad85;
}

.bgCol1{
  background-color: aliceblue;
}

.divBgImg{
background-image: url("../images/Untitled.png");
}
.numbers{
  font-size: 40px;
  font-weight: 700;
  color: #ffbb29;
}

h3{
font-family: lato;
font-weight: 600;
margin: 20px auto 10px auto;
color: white;
}
.carousel-item{
/* padding: 15px; */
cursor: -webkit-grabbing;

& img{
  /* border-radius: 30px; */
  height: 500px;
  /* box-shadow: 0px 5px 5px rgba(0,0,0,.21); */
  transition: .25s linear;  
}

/* &:hover{
  & img{
    transform: translatey(-1%);
  }
} */
}

.carousel-indicators li{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0,0,0,0);
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 2px;
  position: relative;
  top: 30px;
&.active{
  background: #4d4d4d;
  
}
}


@media only screen and (max-width: 650px)
{
.carousel-item img{
  height: auto;
}
}

.carousel-control-prev{
/* left: -50px; */
margin: 0 -25px;
}

.row {
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: 0px; 
margin-left: 0px; 
}

.col-md-3{
display: inline-block;
margin-left:-4px;
}
.col-md-3 img{
width:100%;
height:auto;
}
.carousel-indicators li{
background-color:rgb(151, 151, 151);
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
background-color:rgb(136, 134, 134);
}

.centered {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.bgImg1{
  background-image: url("../images/bgg2.png");
}

.divSpecs{
  height: 100%;
  border-top: 1px solid #d1d0d0;
  border-bottom: 1px solid #d1d0d0;
}


@media (min-width: 768px){
.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 33%;
}}

.f12{
  font-size: 13px;
}

.h-full{
  height: 100%;
}

.circle-fa{
  display: inline-block;
  border-radius: 60px;
  /* box-shadow: 0 0 2px #888; */
  padding: 22px;
}

.comjust{
  text-align: justify;
}

.text-white {
    color: white !important;
    background-color: #86438b!important
}

ul li {
  color: #ffbb29;
}

/* ul li p {
  color: black;
} */

/* .marquee {
  width: 800px;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #ccc;
} */

.thmclr{
  color: #ffbb29;
}

.fbg{
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/946/670/original/abstract-template-grey-geometric-shine-and-layer-background-with-light-blue-effect-technology-style-free-vector.jpg");
}

.fs20{
  font-size: 20px;
}

.bansize{
  font-size: 28px;
}

.cntUs{
    text-align: center;
    padding: 10px;
    color: #c82c2c;
    border-radius: 20px;
    background-color: #f0fb62;
}

.cntUsTxt{
  color: #2b2b2b;
}

span a {
  color: #2b2b2b;
}

#show_bg_2 {
  background-image: linear-gradient(to top, rgb(117 116 116 / 0%), rgb(255 255 255)), url("../images/mainBnr.png");
  width: 100%;
  height: 750px;
  background-size: cover;
  color: white;
  padding: 20px;
}


.headTxt{
  color: #0450ab;
  font-size: 54px;
  text-align: center;
}

.info{
  /* padding: 40px; */
  text-align: center;
  /* font-size: 15px;
  color: #312f2f;
  display: block;
  margin-left: auto;
  margin-right: auto; */  
}

.bannerImg{
  width: 30%;
  /* padding: 2px;
  float: left;
  align-items: center; */
}

.blue{
  color: #0450ab;
}

.ss{
  width: 100%;
}

.rr{
  width: 100%;
   
}

p.white{
  color: white;
}

.white{
  color: white;
}


.bg1{
  background-image: url("../images/gr1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.pink{
  color: #fe29be;
}

.orange{
  color: #feaa3b;
}

.greend{
  color: #95fe2e;
}

.lblued{
  color: #41c1e3;
}

.lavenderd{
  color: #b629fe;
}

.pinkd:hover{
  color: #ff8edd;
}

.oranged:hover{
  color: #f3c485;
}

.green:hover{
  color: #b1dd87;
}

.lblue:hover{
  color: #78cde3;
}

.lavender:hover{
  color: #c695de;
}

.bgCol11{
  background-color: #fffde4;
}

.bgCol22{
  background-color: #dbf3de;
}

dl, ol, ul {
  margin-bottom: 0rem;
}

.card-body{
  background-color: #1b6474;
    color: white;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
  
  font-weight: 500;
  font-family: Gilroy,sans-serif;
}

.hbrand{
  height: 112px;
  padding: 30px;
  background-color: #FBEAEB; 
  margin-right: 2px;
}

span:hover .hbrand{
  background-color: white;
  border: 3px solid #2F3C7E;
}
td {
  text-align: center;
}

h4{
  color: white;
}

.gold{
  color: gold;
}

.fb{
  font-weight: 600;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
  text-align: center;
  color: #f4ff62;
}
 
.cImg{
  width: 70%;
  /* border-radius: 100px; */
}

.dcenter{
  align-items: center;
}

.custCard{
  background-color: #deb88726;
}

.abt{
  background-color: #ebf4ff;
}

.m1{
  background-color: #42b5ae;
  border-radius: 10px;
}

.m2{
  background-color: #c88282;
  border-radius: 10px;
}

.m3{
  background-color: #afae72;
  border-radius: 10px;
}

/* .card1:hover{
 background-color: #16b632; 
 
}

.card2:hover{
  background-color: #df4a4a;
}

.card3:hover{
  background-color: #6481c1;
} */
 

.f600{
  font-weight: 600 !important ;
}

.fnt18{
  font-size: 18px;
}

.orange1{
  color: #ffb300;
}
.gray{
  color: #5d5d5d;
  text-align: justify;
}

.dash {
  width: 12%;
  border-top: 3px dotted #006ebe;
  margin: 50px -22px -14px -19px;
  }

._5S-v{
  border-top: 1px dashed var(--primary);
  position: relative;
  top: 48px;
  width: 71%;
}

.padZ{
  padding: 0px;
}

.pad10{
  padding-bottom: 15px;
}

.card {
  border: 1px solid rgb(218 218 218);
  box-shadow: inset 0 0 10px #727070;
}

/* .fa-spin-hover:hover {
  -webkit-animation: fa-spin 2s infinite linear;
  -moz-animation: fa-spin 2s infinite linear;
  -o-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
} */

/* .f18{
  font-size: 18px
} */

 .bg3 {
  background-image: url(https://img.freepik.com/premium-vector/technology-connection-digital-data-white-background_32996-546.jpg?w=1060);
  background-repeat: no-repeat;
  background-size: cover;
} 

.footerBG {
  background-image: url(https://img.freepik.com/premium-vector/technology-connection-digital-data-white-background_32996-546.jpg?w=1060);
  background-repeat: no-repeat;
  background-size: cover;
} 

.borderTB{
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

.bgCol1{
  background-color: #e3d0bc;
}

html {
  scroll-behavior: smooth;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--secondary-dark);
  font-weight: 700;
  font-family: Gilroy,sans-serif;
}

.yellow{
  color: #f4ff62;
}

.subHead{
  font-size: larger;
}

.mt40T { 
  margin-top: 40px;
}

.mt20T{ 
  margin-top: 20px;
}

ul.pad30{
  padding-left: 30px;
}

.f600{
  font-weight: 600;
}